#root {
  .ant-page-header {
    padding: 8px 12px;
  }
  .ant-page-header-heading {
    justify-content: normal;
  }
  .ant-page-header-heading-extra {
    display: flex;
    align-items: center;
  }
  .ant-table-pagination {
    margin: 8px 0;
  }
  .ant-table {
    margin: 8px 0;
  }
}
